name: CI/CD Publis Docker image

on:
  push:
    branches:
      - dev

jobs:
    upload_image:
        runs-on: ubuntu-22.04

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Install dependencies
              run: npm install
            
            - name: Build project
              run: npm run build

            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            
            - name: Build Docker image
              run: |
                IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/microservices:frontentsolutionv2-image-dev
                docker build -t $IMAGE_NAME .

            - name: Push Docker image
              run: |
                IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/microservices:frontentsolutionv2-image-dev
                docker push $IMAGE_NAME

            - name: Logout from Docker Hub
              run: docker logout